* {
    font-family: "Itim", cursive;
    color: white;
}

.back {
    border-radius: 10px;
    border: none;
    font-size: 50px;
    text-align: left;
    background-color: gray;
    padding-left: 10px;
    width: 130px;
    position: absolute;
    cursor: pointer;
    margin-left: 20px;
}

h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 80px;
}

h2 {
    margin-left: 20%;
    font-size: 35px;
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
}

div {
    margin-bottom: 15px;
}

.f-config, .j-config {
    float: left;
}

.f-config {
    margin-left: 10%;
    width: 40%;
}

.j-config {
    width: 50%;
}

label {
    margin-left: 20%;
    font-size: 30px;
    margin-right: 10px;
    text-align: center;
}

.colorbutton {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.innertext {
    margin-top: 10px;
    z-index: 1000;
}

.innertext-f {
    color: #ffffff;
}

.innertext-j {
    color: #000000;
}

/* 공통 스타일 */
.tile-preview {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 20px;
    margin-left: 300px;
}

/* F 키 타일 스타일 */
#tile-preview-f {
    border: 4px solid red;
}

/* J 키 타일 스타일 */
#tile-preview-j {
    border: 4px solid blue;
}

.volume-config {
    margin-left: 25%;
}

.savebutton {
    margin-top: 30px;
    font-size: 30px;
    width: 35%;
    margin-left: 32%;
    color: #000000;
}

/* 가운데부터 채워지는 애니메이션 */
.fill {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    animation: fillAnimation 2s linear forwards;
}

.fill-f {
    background-color: #ff0000;
    opacity: 0.5;
}

.fill-j {
    background-color: #0000ff ;
    opacity: 0.5;
}

@keyframes fillAnimation {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}